# Working with Text Data

---

### Instructions

* Answer the following exercises.
* Most of the exercises require no more than a few lines of code, sometimes only one. You should aim to choose the right methods and find the most elegant solutions for each exercise.
* Submit your .ipynb file when you are done.

---

### Documentation

* [Pandas documentation: "Working with Text Data"](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html)

---

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In this exercise, you will be working with the 'movies' dataset.

**1.** Load the dataset into a DataFrame named `df`.

**2.** Select all movies that have "x" as the fourth letter.

**3**. Select all movies that contains the string "wel".

**4.** Change all movie titles that contains "Crown" to uppercase.

**5.** Divide 'title' into two columns - one containing the title and one containing the year.

**6.** Which year has the most comedy movies?